.Numbers
{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: fit-content;
    position:fixed;
    align-content: center;
    padding: 30px;
    align-self: center;
    margin-left: 33%;
}

h1
{
    position: relative;
    text-align: center;
}
button
{
    padding: 20px;
    font-size: large;
    margin: 5px;
    align-content: center;
    width: 80px;
    height: 80px
}